<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>hostAddress</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>instance</param-name>
        <param-value>CuongSE\\PIEDTEAM</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>ProductIntro</param-value>
    </context-param>
    <context-param>
        <param-name>userName</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>userPass</param-name>
        <param-value>123456</param-value>
    </context-param>
    <context-param>
        <param-name>file</param-name>
        <param-value>D:\FPT_MATERIALS\PRJ301\Product-Management\build\web</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>MainController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.account.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>controller.account.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controller.account.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.category.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.product.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.category.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.category.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.product.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccount</servlet-name>
        <servlet-class>controller.account.ListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.account.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsUseUpdateAccount</servlet-name>
        <servlet-class>controller.account.IsUseUpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategory</servlet-name>
        <servlet-class>controller.category.ListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.category.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.product.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.product.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeImgProduct</servlet-name>
        <servlet-class>controller.product.ChangeImgProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenController</servlet-name>
        <servlet-class>controller.AuthenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccount</servlet-name>
        <servlet-class>controller.account.RegisterAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccount</servlet-name>
        <url-pattern>/ListAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsUseUpdateAccount</servlet-name>
        <url-pattern>/IsUseUpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategory</servlet-name>
        <url-pattern>/ListCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeImgProduct</servlet-name>
        <url-pattern>/ChangeImgProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenController</servlet-name>
        <url-pattern>/AuthenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccount</servlet-name>
        <url-pattern>/RegisterAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/invalid.html</location>
    </error-page>
</web-app>
